/* Paragraph Styling */
p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Level 2 Headers */
h2 {
    color: #8B0000;
    margin-bottom: 10px;
    font-style: italic;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Table Borders */
table, th, td {
    border: 2px solid #333;
}

/* Table Header id attribute */
#table-header {
    font-weight: bold;
    color: #808080;
}

/* Smith School Logo Class */
img.logo {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 450px;
    height: auto;
    border: 2px solid #808080;
    border-radius: 12px;
}

/* List Fader for Ice Cream Flavor List */
.favorite-flavor {
    font-weight: bold;
    color: #8B0000;
    opacity: 1;
}
/* Use nth-child for different uses of same class */
.favorite-flavor:nth-child(2) {
    opacity: 0.8;
}
.favorite-flavor:nth-child(3) {
    opacity: 0.6;
}
.favorite-flavor:nth-child(4) {
    opacity: 0.4;
}


