<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Homework Assignment</title>
</head>
<body>

    <h1>HTML Homework Assignment</h1>
    <h2>Name: Nathaniel Ditmars</h2>
    <h2>Course: BMGT407</h2>

    <!-- Option to return to /hello page with hyperlink on word Home -->
    <p>Return <a href="/hello"> Home</a></p>

    <p>This is the homework assignment due <strong><em>Feb. 20th at 8 pm.</em></strong></p>

    <p>Here are some of my favorite animals:</p>
    <ul>
        <li>Dog</li>
        <li>Monkey</li>
        <li>Giraffe</li>
        <li>Elephant</li>
    </ul>

    <p>Here are my favorite ice cream flavors ranked:</p>
    <ol>
        <li>Coffee</li>
        <li>Chocolate</li>
        <li>Moose Tracks</li>
        <li>Mint Chocolate Chip</li>
    </ol>

    <p>I am a student in the <strong>Robert H. Smith School of Business</strong></p>
    <!-- Insert RH Smith Business Logo. -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Robert H. Smith Logo"
         width=450" height="100">

    <p>Here is a table of BMGT courses I've taken and when I took them:</p>

    <!-- Class Table: Course, Semester Taken, 3 rows -->
    <table>
        <tr>
            <th>Course</th>
            <th>Date</th>
        </tr>

        <tr>
            <td>BMGT402</td>
            <td>Spring 2023</td>
        </tr>

        <tr>
            <td>BMGT403</td>
            <td>Fall 2023</td>
        </tr>

        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
        </tr>
    </table>

    <!-- Link pages to open in new tab with target="_blank" -->
    <p>Below are some of my favorite websites:</p>
        <ol>
            <li> <p><a href="https://www.nytimes.com/crosswords" target="_blank">New York Times Games</a></p>
            </li>
            <li> <p><a href="https://www.chess.com/home" target="_blank">Play Chess</a></p>
            </li>
        </ol>


</body>
</html>