<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>

{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

    <!-- if loop for html display -->
    <h1>Contact</h1>
    {% if form_submitted %}
        <p>Thank you for contacting us!</p>
        <p>You entered:</p>
        <ul>
            <li>First Name: {{ request.form.get('first_name') }}</li>
            <li>Last Name: {{ request.form.get('last_name') }}</li>
            <li>Email Address: {{ request.form.get('email') }}</li>
            <li>Phone Number (Optional): {{ request.form.get('phone_number') }}</li>
        </ul>

        <!-- display if information not entered yet -->
    {% else %}
        <form method="post">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="phone_number">Phone Number (Optional)</label>
                <input type="text" class="form-control" id="phone_number" name="phone_number">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}
{% endblock %}

</body>
</html>